body{
    margin: 0px;
    background-image: url(Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center; 
    font-family: 'Open Sans', sans-serif;
}

.nav{
text-align: right;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
}

.nav ul li{
    display: inline-block;
    margin: auto 10px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-weight: normal;
}

.container {
    width: 850px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    padding: 30px 0px;
    position: fixed;
}
.nav-brand{
    margin: 5px auto 5px 0;
}
.nav-brand img{
    height: 100px;
    align-items: center;
    margin: 5px auto;
}
a{
    color: white;
    text-decoration: none;
}
.content{
    color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 75px;
}

.col-2 {
    width: calc((100%/12)*2);
}
.col-6 {
    width: calc((100%/12)*6);
}
.col-12 {
    width: calc((100%/12)*12);
}
