/*common css*/
.flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.grid{
    display: grid;
}

/*common css */

body {
    margin: 0px;
}

.container-fluid{
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}

/* 12 column grid */

.col-1 {
    width: calc((100%/12)*1);
}

.col-2 {
    width: calc((100%/12)*2);
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-5 {
    width: calc((100%/12)*5);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-7 {
    width: calc((100%/12)*7);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-9 {
    width: calc((100%/12)*9);
}

.col-10 {
    width: calc((100%/12)*10);
}

.col-11 {
    width: calc((100%/12)*11);
}

.col-12 {
    width: calc((100%/12)*12);
}
