body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/*fixed nav-bar & general info panel*/
.bckg-photo{
    background-image: url(/img/Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.layer{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .7);
    display: block;
    position: relative;
    top: 0px; 
    left: 0px;
    z-index: 3;
}

.fix-nav-bar{
    width: 100%;
    position: fixed;
    padding: 15px auto;
    margin-top: 30px;
}

.fix-nav-bar:hover{
    background-color: #2F2E2F;

}

.nav-brand img{
    height: 100px;
    align-items: center;
    margin: 24px auto auto 162px;
}
.nav-menu{
    padding-left: 85px;
    position: relative;
}
.nav-menu ul li{
    display: inline-block;
    margin: 60px 10px;
    font: 14px sans-serif;
    font-style: normal;
    line-height: 24px;
    font-weight: 300;
}
li:hover{
    background: rgba(47,46,47,0.8);
    color: white;
}
/* .catalog:hover .catalog-menu{
    
}
.catalog-menu{
    position: absolute;
    background: rgba(47,46,47,0.8);
}
.catalog-menu ul li{
    display: block;
    list-style: none;
}

li:hover .catalog-menu{
    display: block;
} */

a{
    color: white;
    text-decoration: none;
}

.general-info{
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 90px;
}

h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
    font-weight: 900;
}

p{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.order-btn{
    font-size: 15px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 20px;
    margin-bottom: 30px;
}
/*White board & Cards, Gifts,Invitations*/
#second-line{
    max-height: 580px;
    padding: 50px;
    background-color: white;
    font-family: "Playfair Display", sans-serif;
    color: #2f2e2f;
}

.second-line-item{
    margin: 10px;
    padding: 10px;
}

h2{
    font-size: 22px;
    line-height: 31px;
    font-weight: 900;
    text-align: center;
}

#second-line p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #2f2e2f;
}
#second-line img{
    height: 100%;
    width: 100%;
}
/*Empty panel with background photo & Popular Products*/
#PopularProcucts{
    background-image: url(/img/Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 250px;
    color: white;
    text-align: center;
    z-index: 1;
}
/*White panel & Cards images*/
#forth-line{
    height: 700px;
    background-color: white;
}

.forth-line-item{
    margin: 10px;
    padding: 10px;
    font-family: "Playfair Display", sans-serif;
}

.forth-line-item img{
    height: 100%;
    width: 100%;
    margin: 20px;
}

/* Testimonials */
#testimonials{
    background: #F8F8F8;
    padding: 30px 0px 30px 0px;
}
.testimonials-head{
    margin: 50px;
}

#testimonials h1{
    text-align: center;
}
.users{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}
.user{
    width: 90px;
    height: 90px;
    margin: auto;
    cursor: pointer;
}
.user img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease;
}
.user img:hover{
    border: 5px solid black;
}
.users-quote{
    width: 100%;
}
.users-quote h4{
    text-align: center;
    margin: 30px 0px;
}
/* Bottom section */
#bottom{
    background: white;
    padding: 50px;
}
.text-items{
    margin: 10px;
    padding: 10px;
}
.text-item-head h1{
    font-family:"Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #2f2e2f;

}
.text-item-head::after{
    content: '';
    display: block;
    background-color: #222222;
    left: 0;
    height: 3px;
    width: 40px;
    margin: 30px 0px;
}

.text-item-body{
    width: 100%;
}

.send-btn{
    background: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.send-btn:hover{
    background: white;
    color: black;
    border: 1px solid black;
}