*{
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
}

#header{
    background: url(../img/slide-1.jpg) center/ cover no-repeat;
    color: #fff;
}

.top-nav-bar{
    padding: 30px 0;
}

.top-nav-bar a{
    color: #fff;
    text-decoration: none;
}

.icon{
    margin-right: 10px;
    font-size: 1.5em;

}
.lang{
    background: #fff;
    color: #000;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}


/* navigation bars */
.nav-bar{
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    padding: 25px 0;
    margin-bottom: 120px;
    /* position: fixed; */
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
}

#secondary-nav-bar{
    height: 4.5em;
    position: fixed;
    background: #fff;
    padding: 0 9em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

#secondary-nav-bar a{
    text-decoration: none;
    color: #151515;
}

#secondary-nav-bar .nav-brand img{
    padding-top: .7em;
}
#secondary-nav-bar .icons{
    font-size: 1.5em;
    padding-top: 1em;
}
/* first page slider */
.slider{
    margin-left: 150px;
}

.slider p{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.shop-btn{
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

/* .angle-icon{
    font-size: 30px;
} */

/* second - BOUQUETS section */
#bouquets h2{
    color: #151515;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 45px;
}

#bouquets .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item h5, p{
    text-align: center;
}
.grid-item h5{
    font-size: 18px;
    color: #151515;
    margin-top: 25px;
}

.grid-item p{
    font-size: 15px;
    color: #777;
    margin-bottom: 80px;
}

/* third - statistics section */
#statistics{
    background: url(../img/parallax-2.jpg) center/ cover no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}
#statistics .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 150px;
}

#statistics h2{
    font-size: 50px;
    margin-top: 80px;
}

#statistics h2::after{
    content: '';
    display: block;
    background: #fff;
    height: 1px;
    width: 40px;
    margin: 0 125px;
}

#statistics h5{
    color: #fff;
    font-style: normal;
    margin-bottom: 80px;  
    margin-top: 25px;
}

/* fourth - why organic section */
#organic{
    margin: 80px 0;
}

/* #organic img{
    position: absolute;
    z-index: 6;
}

.box{
    position: absolute;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 550px;
    height: 450px;
    padding: 30px 0;
    margin-left: 30px;
    z-index: 3;
} */

#organic .col-6 h2{
    color: #151515;
    font-size: 3em;
}

#organic h2{
    color: #151515;
    font-size: 1.5em;
}

.box-icon{
    display: flex;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 3em;
    margin: 30px 20px 0 0;
}

.box-icon i{
    font-size: 3em;
    margin-right: 10px;
}

.box-icon p{
    color: #777;
    text-align: left;
}

/* our clients section */
#clients{
    background: url(../img/bg-pattern-1.jpg) center/ cover no-repeat;
    text-align: center;
    padding: 100px 0;
}
#clients h2{
    color: #151515;
    font-size: 50px;
    margin-bottom: 35px;
}
#clients p{
    color: #777; 
    margin-bottom: 35px;
}

.client img{
    border-radius: 50%;
}

/* sixth - subscribe section */
#subscribe{
    background: url(../img/parallax-4.jpg) center/ cover no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#subscribe h3{
    font-size: 3em;
}
.subs-btn{
    padding: 20px 45px;
    border: none;
    margin-top: 90px;
}
.subs-email{
    border-bottom: 1px solid white;
    margin-top: 110px;

}

#request-span{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 9px;
}

/* seventh - footer section  */
#footer{
    background: #404040;
    color: #fff;
    padding-top: 100px;
}
#footer .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}
#footer h4{
    margin-bottom: 30px;
}
#footer ul li{
    margin-bottom: 10px;
}
.contact span{
    margin-bottom: 10px;
}

#footer .contact span i{
    margin-right: 15px;
}
#footer .contact span a{
    text-decoration: none;
    color: #fff;
    
}
.social-icon{
    border: 1px solid #777;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}
#footer i{
    color: #777;
}
.copyright{
    border-top: 1px solid #777;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 100px;
    padding: 50px 0;
    overflow: hidden;
}
#copyright span p{
    font-family: 'Lora', serif;
    font-weight: 400;

}

.up-btn{
    border: 1px solid #777;
    border-radius: 50%;
    background: #404040;
    color: #fff;
    padding: 10px;
    right: 40px;
    bottom: 40px;
    position: fixed;
    overflow: hidden;
}

/* about us page */
#secondary-header{
    background: url(../img/bg-about.jpg) center/ cover no-repeat;
    height: 23em;
    overflow: hidden;
    margin-top: 4.5em;
}

#secondary-header h2{
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 10%;
}

.alt-nav{
    color: #777;
    margin-top: 1em;
    margin-bottom: 5em;
}

.alt-nav span > i{
    margin: 0 10px;
}

#team-members .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 1em;
}

.member-text{
    text-align: center;
}
.member-text span{
    margin-right: 10px;
}

/* gallery page */
#gallery .grid-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 100px;
}

/* what we offer page */
#services .grid-container{
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}
#services .numb{
    color: rgba(21, 21, 21, 0.1);
    font-family: 'Lora', serif;
    font-size: 70px;
    font-weight: 600;
}
#services span i{
    font-size: 70px;
    color: #f74860;
    margin-left: 30px;
    text-align: left;
}
#services h5{
    font-size: 18px;
    color: #151515;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}
#services p{
    text-align: left;
    line-height: 150%;
}


.pricing{
    background: #f5f5f5;
    border-radius: 6px;
    box-shadow: 3px 6px 6px 0 rgb(0 0 0 / 11%);
    margin-right: 40px;
    overflow: hidden;
    margin-bottom: 100px;
}
.pricing-header{
    overflow: hidden;
}
.pricing-header .capt{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 50px 60px;
    
}
.ph-1{
    background: url(../img/pricing-1-346x229.jpg) center/ cover no-repeat;
}
.ph-2{
    background: url(../img/pricing-2-346x229.jpg) center/ cover no-repeat;
}
.ph-3{
    background: url(../img/pricing-3-346x229.jpg) center/ cover no-repeat;
}

#goods h4{
    color: #fff;
    font-size: 36px;
    font-style: normal;
}
#goods s{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    margin-right: 10px;
}

.pricing-body ul{
    list-style: none;
    text-align: center;
    line-height: 200%;
    margin: 25px 0;
}
.cart-btn{
    border: 1px solid #000;
    background: none;
    padding: 10px 25px;
    margin: 0 110px 25px 110px;
}