body{
    background-image: url(/img/Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center; 
    font-family: 'Open Sans', sans-serif;
}

.nav-brand{
    margin: 5px auto 5px 0;
}
.nav-bar{
    padding: 30px 0px;
    position: fixed;
}
.nav-brand img{
    height: 100px;
    align-items: center;
    margin: 5px auto;
}

.col-10{
    display: flex;
    justify-content: flex-end;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu ul li{
    display: inline-block;
    margin: auto 10px;
}

a{
    color: white;
    text-decoration: none;
}

.content{
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 36px;
    line-height: 86px;
    font-weight: 900;
}
h1.font-2x {
    font-size: calc(36px * 2);
}
p{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}