body{
    color: #2F2E2F;
    background-image: url(/img/Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center; 
    font-family: 'Open Sans', sans-serif;

}

.nav-brand{
    margin: 5px auto 5px 0;
}
.nav-bar{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: fixed;
}
.nav-brand img{
    height: 100px;
    align-items: center;
    margin: 5px auto;
}

.col-10{
    display: flex;
    justify-content: flex-end;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu ul li{
    display: inline-block;
    margin: auto 10px;
}

a{
    color: white;
    text-decoration: none;
}

.content{
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 36px;
    line-height: 86px;
    font-weight: 900;
}
h1.font-2x {
    font-size: calc(36px * 2);
}
p{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

button{
    padding: 0 20px;
    font-size: 15px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}

#second-line{
    max-height: 580px;
    padding: 50px;
    background-color: white;
    font-family: "Playfair Display", sans-serif;
    color: #2f2e2f;
}

h2{
    font-size: 22px;
    line-height: 31px;
    font-weight: 900;
    text-align: center;
}

#second-line p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}
#second-line img{
    height: 300px;
    width: 450px;
}

#PopularProcucts{
    height: 250px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#forth-line{
    height: 700px;
    background-color: white;
}
#forth-line img{
    height: 580px;
    width: 450px;
    margin: 20px;
}