body{
    background-image: url(/img/Image-from-iOS-1666x1080.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center; 
    font-family: 'Open Sans', sans-serif;
}

.col-2{
    margin: 5px auto 5px 0;
}
.nav-bar{
    padding: 30px 0px;
}
.nav-brand img{
    height: 100px;
    align-items: center;
    margin: 5px auto;
}

.col-10{
    display: flex;
    justify-content: flex-end;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav ul li{
    display: inline-block;
    margin: auto 10px;
}

a{
    color: white;
    text-decoration: none;
}
.content{
    color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 75px;
}
.content-2{
    color: white;
}
.content-3{
    color: white;
}