*{
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h5{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
}

#header{
    background: url(../img/slide-1.jpg) center/ cover no-repeat;
    color: #fff;
}


.top-nav-bar{
    padding: 30px 0;
}

.top-nav-bar a{
    color: #fff;
    text-decoration: none;
}

.icon{
    margin-right: 10px;

}
.lang{
    background: #fff;
    color: #000;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.nav-bar{
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    padding: 25px 0;
    margin-bottom: 120px;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
}

.slider{
    margin-left: 150px;
}

.slider p{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.shop-btn{
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

/* .angle-icon{
    font-size: 30px;
} */

#bouquets h2{
    color: #151515;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 45px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item h5, p{
    text-align: center;
}
.grid-item h5{
    font-size: 18px;
    color: #151515;
    margin-top: 25px;
}

.grid-item p{
    font-size: 15px;
    color: #777;
    margin-bottom: 80px;
}

#statistics{
    background: url(../img/parallax-2.jpg) center/ cover no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}
#statistics .grid-container{
    margin: 0 150px;
}

#statistics h2{
    font-size: 50px;
    margin-top: 80px;
}

#statistics h2::after{
    content: '';
    display: block;
    background: #fff;
    height: 1px;
    width: 40px;
    margin: 0 125px;
}

#statistics h5{
    color: #fff;
    font-style: normal;
    margin-bottom: 80px;  
    margin-top: 25px;
}

#organic{
    margin: 80px 0;
}

/* #organic img{
    position: absolute;
    z-index: 6;
}

.box{
    position: absolute;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 550px;
    height: 450px;
    padding: 30px 0;
    margin-left: 30px;
    z-index: 3;
} */

#organic .col-6 h2{
    color: #151515;
    font-size: 3em;
}

#organic h2{
    color: #151515;
    font-size: 1.5em;
}

.box-icon{
    display: flex;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 3em;
    margin: 30px 20px 0 0;
}

.box-icon i{
    font-size: 3em;
    margin-right: 10px;
}

.box-icon p{
    color: #777;
    text-align: left;
}